.auth_section {
  padding: 3rem;
  border-radius: 10px;
  font-weight: bold;

  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  font-size: 1.5rem;
}

.form_title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.auth_form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

input {
  margin-bottom: 1.5rem;
}
